.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}

.box {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: content-box;
}